.principal  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    
}

.principal{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    min-width:500px;
}
.principal_puntuacion{
    position: relative;
    max-width: 250px;   
}
.principal_puntuacion >ol> li div  {
    display: block;
    width: 100%;
    
}
@media screen and (max-width: 750px) {
    .resposivo{
        flex-direction: column;
        gap: 40px;
        min-height: auto !important;
    }   
    .principal{
        
        width: 100%;
    }
    .principal > div {
        width: 70%;
        margin: auto;
    }
}

@media screen and (max-width: 350px) {
    
    .principal{
        gap: 0px;
    }
    .principal > div {
        margin: auto;
        flex-direction: column;
        width: 100%;
        
    }
    .principal > div > div  {
     margin: auto;
    }
}


.bloqueado{
    
    pointer-events: none;
}
.bloqueado img {
    filter: blur(2px);     
}