.principal_ope{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border:  1px solid rgb(218, 216, 216) ;
    padding: 10px;
    max-width: 450px;
}

.pregunta{
    text-align: center;    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(80, 0, 228) 
}

.box_respuestas{
    padding-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

.btnAuxi{
    display: none;
}

.alerta{
    position: absolute;
    box-shadow: 1px 1px 5px rgb(119, 119, 119) ;
    left: -500px;    
    bottom: 10px;
    animation: animacion-alerta 6s ease-in-out  1 forwards;

}
@keyframes animacion-alerta {
    0%{
        left: -500px;
    }
    20%{
        left: 10px;
    }
    80%{
        left: 10px;
    }
    100%{
        left: -500px;
    }
}

.radio_btn {
    padding: 5px;
    
}
.radio_btn > label{
    display: block;
    width: 100%;
    cursor: pointer;
}
.radio_btn  input[type=radio]{
    margin: 0px;
}

.radio_btn:hover{
  background: rgb(201, 201, 201) ;
  border-radius: 5px;
}